@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #F5F7FB;
	font-family: 'Roboto', sans-serif;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 50px auto;
	text-align: center;
	background: #fff;
	box-shadow: 0px 0px 20px 0px rgba(209, 209, 209, 0.5);
	padding: 40px;
	border-radius: 5px;
	display: flex;
	gap: 20px;
}

label {
	width: 100%;
	font-size: 14px;
	color:#3f51b5;
}

.grupo {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.MuiInputBase-input.MuiInput-input {
	text-align: center;
	padding: 20px;
	font-size: 18px;
	text-transform: uppercase;
}
/*You can inspect the element copy class and edit it here*/
.MuiInput-underline::before {
	/* border-bottom: none !important; */
}
.css-i4bv87-MuiSvgIcon-root {
	color: lightseagreen;
	
}
:hover.css-1wy8uaa-MuiButtonBase-root-MuiPickersDay-root:focus.Mui-selected{
	background-color: #3f51b5;
}
:hover.css-1c32n2y-MuiBadge-root{
	background-color: #e3e8f1;
	border-radius: 50%;
}

.css-flbe84-MuiDayCalendar-weekContainer {
	margin: 6px !important;/*we can see the badge properly at the top*/
}